html, body, .container{
    height: 100%;
    width: 100%;
    display: block;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.section{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    float: left;
}
.mediaContent{
    width: calc( 100% - 300px );
    background-color: #e3e3e3;
    position: relative;
}
.icons-container{
    position: absolute;
    bottom: 42px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0;
    z-index: 2;
}
.mediaListing{
    width: 300px;
    background-color: #232323;
}
.backward-section{
    position: absolute;
    width: 20%;
    top: 0;
    left: 0;
    height: 100%;
}
.forward-section{
    position: absolute;
    width: 20%;
    top: 0;
    right: 0;
    height: 100%;
}
.media{
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #3a3a3a;
}
.media:hover, .media.active{
    background-color: #383838;
}
.media p{
    margin: 0;
    color: #e3e3e3;
    font-size: 14px;
}
.media p.name{
    font-size: 14px;
}
.media p.duration{
    margin-top: 20px;
    font-size: 12px;
}
.videoPlayer{
    height: 100%;
    width: 100%;
}
.videoPlayer video{
    height: 100%;
    width: 100%;
    background-color: #191919;
}

@media (max-width: 720px){
    .mediaContent{
        width: 100%;
    }
    .mediaListing{
        width: 100%;
    }
    .section{
        height: auto;
    }
    .videoPlayer{
        height: auto;
    }
    .videoPlayer video{
        height: auto;
    }
}
.icons{
    margin: 0 8px;
    padding: 5px;
    width: 40px;
    cursor: pointer;
}
.forward{

}
.backward{
    transform: rotateZ(180deg);
    margin-right: 15px;
}
.play-pause{

}
.speed-container{
    position: absolute;
    bottom: 42px;
    left: 0;
    right: 0;
    font-size: 0;
    text-align: right;
}
.speed-container p{
    color: #a5a5a5;
    margin: 0;
    display: inline-block;
    font-size: 12px;
    padding: 0 8px;
    border-radius: 2px;
    line-height: 40px;
}